<h1>Hello! <%= @user.first_name %> Welcome to your profile!</h1>

<ul>
	<% @user.pledges.each do |pledge| %>
	<li>
	The amount you pledged to: <%= link_to pledge.project.name, project_path(pledge.project.id) %> is $<%= pledge.amount %>
	</li>
	<% end %>
</ul>

<p>Total contributed: $<%= @user.amount_spent %></p>


