<h3>Make A Pledge</h3>

<%= form_for [@project, @pledge], remote: true do |f| %>

<div class="main-form">
	<div>
		<%= f.label :amount %> 
		<%= f.number_field :amount, :step => 10, :min => 10 %>
	</div>

	<div class="submit-button"><%= f.submit %></div>
	<div class="errors"></div>
</div>	
<% end %>