body {
	margin: 0px;
	box-sizing: border-box;
}

header {
	
    margin-top: 0px;
    color: blue;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background: orange;
    background: white;
	margin-left: 500px;
    margin-right: auto;
	border: 2px solid black;
}

footer {
	position: absolute; bottom: 0;
}

nav {
	color: blue;
	border: 2px solid black;	
}

button {
	color: blue;
	background: white;
	border: 2px solid black;
}