<!DOCTYPE html>
<html>
<head>
	<title>My CRM App</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<header>
		<h1 class="header">Bitmaker CRM</h1>
	</header>
	<nav>
		<a href="/contacts">View all contacts</a>
  		<a href="/contacts/new">Add a contact</a>
	</nav>
	<%= yield %>
</body>
<footer>Made by Alishan Ladhani at Bitmaker Labs &copy;</footer>
</html>