<h1>Create new Contact</h1>

<form action="/contacts" method="post">
	<label for="first-name">First Name: </label>
  	<input id="first-name" type="text" name="first_name">
  	<label for="last-name">Last Name: </label>
  	<input id="last-name" type="text" name="last_name">
  	<label for="email">Email: </label>
  	<input id="email" type="text" name="email">
  	<label for="note">Note: </label>
  	<input id="note" type="text" name="note">
	<button type="submit">
  		Submit
  	</button>
</form>